#intro {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  min-height: 750px;
  align-content: center;

  #profile {
    max-width: 1140px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      max-width: 112px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }

    header {
      max-width: 680px;
      margin-inline: auto;
      margin-top: 56px;

      h1 {
        margin-bottom: 20px;
      }
    }

    div {
      display: flex;
      gap: 16px;
      margin-top: 80px;

      span {
        display: flex;
        gap: 8px;
        align-items: center;
        background-color: var(--gray-300);
        padding: 8px 16px;
        border-radius: 999px;
        font: var(--text-md);
        color: var(--gray-500);
      }
    }

    a {
      margin-top: 94px;
    }
  }
}

#main {
  header {
    padding-block: 72px 56px;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    max-width: 1040px;
    margin-inline: auto;
    margin-bottom: 144px;

    a {
      background-color: var(--gray-300);
      padding: 12px;
      border-radius: 12px;

      &:hover {
        border: 1px solid var(--gray-400);
      }

      img {
        border-radius: 8px;
        margin-bottom: 20px;
      }

      p {
        margin-block: 8px 5px;
      }
    }
  }

  .services {
    background-color: var(--gray-100);
    padding-bottom: 120px;

    header {
      padding-block: 88px 56px;
    }

    main {
      max-width: 888px;
      margin-bottom: 0;

      div {
        border: 1px solid var(--gray-300);
        border-radius: 12px;
        padding: 20px;
      }
    }
  }
}

#Contacts {
  background-image: url(../assets/Background_Contacts.png);
  background-size: cover;
  min-height: 787px;
  align-content: center;

  header {
    margin-bottom: 48px;

    small {
      color: var(--color-purple);
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    a {
      width: 100%;
      max-width: 400px;
      display: flex;
      justify-content: space-between;
      background-color: var(--gray-300);
      padding: 20px;
      border-radius: 8px;

      &:hover {
        border: 1px solid var(--color-blue);
      }

      div {
        display: flex;
        align-items: center;
        gap: 12px;
      }
    }
  }
}
